#about{
    padding-top: 114px;
    padding-bottom: 140px;
    .about-header{
        max-width: 1180px;
        margin: auto;
        h2{
            text-align: center;
            color: #323232;
            span{
                color: $green;
            }
        }
        .whole-icon{
            padding-top: 9px;
            text-align: center;
            .joxi{
                height: 1.1px;
                width: 37px;
                background-color: #D3D3D3;
                display: inline-block;
                vertical-align: middle;
                margin-top: 4px;
                
            }
            img{
                vertical-align: middle;         
                margin: 0px 4px;   
            }
        }
    }
    .about-main{
        
        max-width: 1180px;
        margin: auto;
        margin-top: 91px;
        display: flex;
        justify-content: space-between;
        .image-mac{
            margin-left: 3px;
            margin-top: 5px;
            display: flex;
            align-items: flex-start;
            position: relative;
            flex-shrink: 0;
            iframe{
                position: absolute;
                width: 470px;
                top: 20px;
                left: 20px;
                height: 265px;
            }

            img{
            }
        }
        .about-content{
            width: 576px;
            h2{
                letter-spacing: -0.58px;
            }
            &>p{
                margin-top: 23px;
                line-height: 1.95;
                font-size: 14px;
                font-family: #{$sans};
            }
            .content-wrap{
                &:first-of-type{
                    margin-top: 47px;
                }
                &:last-of-type{
                    margin-top: 53px;
                }
                display: flex;
                justify-content: space-between;
                // flex-wrap: wrap;
                .content-box{
                    
                    display: flex;
                    justify-content: space-between;
                    width: 46.5%;
                    .wre{
                        width: 63px;
                        height: 63px;
                        border-radius: 50%;
                        background-color: #3B3B3B;
                        margin-left: 2px;
                        flex-shrink: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        animation-duration: 2s;
                        transform-origin: center;
                        &:hover{
                            animation-name: scane-bounce;
                        }
                    }
                    div{
                        width: 66%;
                        
                    h3{
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: -0.3px;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 13px ;
                        font-family: #{$sans};
                        line-height: 1.65;
                    
                }
                }
            }
        }
    }
}
.small-about{
    display: none;
}
}