
    #about{
        padding-top: 35px;
        padding-bottom: 43px;
        .about-header{
            h2{
               font-size: 27px;
   
            }
            
            .whole-icon{
                padding-top: 7px ;
                .joxi{
                    width: 33px;
                }
                img{
                    width: 14px;
                }
            }
        }
        .about-main{
            background-color: #000000;
            margin-top: 36px;
            height: 207px;
            width: 87.5%;
        }
        .small-about{
            width: 87.5%;
            margin-top: 17px;
            h2{
                font-size: 16px;
                padding-bottom: 10px;
      
            }
            p:first-of-type{
                display: none;
            }
            p:last-of-type{
                display: block;
            }
            &>p{
                margin-top: 11px;
            }
            .check-text{

                margin-bottom: 18px;
                width: 100%;

                p{
                    width: 99.5%;
                }
            }
            .submit{
                margin-top: 24px;
                width: 139px;
                font-size: 13px;
                margin-left: -2px;
            }
        }
    }
    
  
