.welcome{
    position: relative;
    background-image: url(../images/welcome/allianz.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #292929;
    padding-top: 242px;
    padding-bottom: 260px;
    color: $white;


    .left{
        position: absolute;
        top:40%;
        left:40px;
    }
    .right{
        position: absolute;
        top: 40%;
        right: 40px;
    }

    .welcome-main{
    max-width: 739px;
    margin: auto;
    text-align: center;
    transform: translateX(12px);
    
    &>h1:first-of-type{
        font-family: #{$rel};
        font-weight: 200;
        font-size: 62px;
        line-height: 1;
    }
    .wave{
        position: relative;
        height: fit-content;
        width: fit-content;
        margin: auto;
        h1{
            font-family: #{$mon};
            font-weight: 700;
            font-size: 71px;
            letter-spacing: -1px;
        }
        &:hover{
            :last-child{
                animation: water 4s ease-in-out infinite;
                color: #03a9f4;
                transition: opacity 2s ease-in-out;
                opacity: 1;
            }

        }
        :first-child{
            position: absolute;
            right: 0px;
        }
        :last-child{
            opacity: 0;
        }

    }
    
    p{
        text-align: start;
        font-size: 20px;
        font-family: #{$rel};
        letter-spacing: -0.2px;
        margin-top: 5px;
    }
    button{
        width: 138px;
        height: 38px;
        background-color: $green;
        border: 1px solid $white;
        outline: 3px solid $green;
        margin-top: 43px;
        color: $white;
        font-size: 13px;
        font-weight: 700;
    }
}
}