* {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 31px;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p::selection {
  background-color: #198870;
}

html,
body {
  width: 100%;
}

.whole-icon {
  padding-top: 9px;
  text-align: center;
}
.whole-icon .joxi {
  height: 1.1px;
  width: 37px;
  background-color: #D3D3D3;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}
.whole-icon img {
  vertical-align: middle;
  margin: 0px 4px;
}

.submit {
  border: none;
  background-color: #3AB6B2;
  color: white;
  width: 160px;
  height: 42px;
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-top: 16px;
}

@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes water {
  0%, 100% {
    clip-path: polygon(0 39%, 14% 42%, 26% 49%, 37% 57%, 54% 60%, 71% 59%, 86% 53%, 100% 48%, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 47%, 14% 51%, 26% 57%, 40% 54%, 55% 51%, 67% 46%, 83% 39%, 100% 34%, 100% 100%, 0 100%);
  }
}
header {
  background-color: #000000;
  padding-top: 26px;
  padding-bottom: 25.7px;
  padding-left: 25px;
  padding-right: 25px;
}
header .header-main {
  margin: auto;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-main .header-logo {
  display: flex;
  align-items: flex-end;
  height: 48px;
  animation-duration: 2s;
  transform-origin: bottom;
  animation-iteration-count: 1;
}
header .header-main .header-logo:hover {
  animation-name: bounce-7;
}
header .header-main .header-logo .letter-p {
  position: relative;
  height: 95%;
  width: 27px;
}
header .header-main .header-logo .letter-p :nth-child(1) {
  position: absolute;
  top: 5px;
}
header .header-main .header-logo .letter-p :nth-child(2) {
  position: absolute;
}
header .header-main .header-logo .letter-p :nth-child(3) {
  position: absolute;
  top: 15px;
  left: 10px;
}
header .header-main .header-logo h3 {
  font-size: 36px;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  color: white;
}
header .header-main .header-nav {
  display: flex;
  justify-content: space-between;
  display: flex;
  list-style: none;
  margin-right: 2px;
  width: 737px;
  min-width: 50%;
}
header .header-main .header-nav a {
  text-decoration: none;
  color: white;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}
header .header-main .header-table-nav {
  display: none;
  background-color: #3AB6B2;
  width: 54px;
  height: 35px;
}

@media only screen and (max-width:1024px) {
  header {
    width: 100%;
    padding-bottom: 33px;
  }
  header .header-main .header-nav {
    display: none;
  }
  header .header-main .header-table-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    outline: #3AB6B2 solid 2px;
    align-self: flex-end;
  }
  header .header-main .header-table-nav .joxi {
    width: 30px;
    height: 2px;
    background-color: white;
    margin-bottom: 3px;
  }
}
@media only screen and (max-width:767px) {
  header {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  header .header-main .header-logo {
    display: flex;
    height: 37.49px;
  }
  header .header-main .header-logo .letter-p {
    height: 95%;
    width: 20.5px;
  }
  header .header-main .header-logo .letter-p :nth-child(1) {
    height: 28px;
  }
  header .header-main .header-logo .letter-p :nth-child(2) {
    width: 21px;
    top: 2px;
  }
  header .header-main .header-logo .letter-p :nth-child(3) {
    width: 14px;
    top: 12px;
    left: 8px;
  }
  header .header-main .header-logo h3 {
    font-size: 27.22px;
    line-height: 1;
    align-self: flex-end;
  }
  header .header-main .header-table-nav {
    width: 44px;
    height: 27px;
  }
  header .header-main .header-table-nav .joxi {
    width: 22px;
  }
}
.welcome {
  position: relative;
  background-image: url(../images/welcome/allianz.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #292929;
  padding-top: 242px;
  padding-bottom: 260px;
  color: white;
}
.welcome .left {
  position: absolute;
  top: 40%;
  left: 40px;
}
.welcome .right {
  position: absolute;
  top: 40%;
  right: 40px;
}
.welcome .welcome-main {
  max-width: 739px;
  margin: auto;
  text-align: center;
  transform: translateX(12px);
}
.welcome .welcome-main > h1:first-of-type {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-size: 62px;
  line-height: 1;
}
.welcome .welcome-main .wave {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: auto;
}
.welcome .welcome-main .wave h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 71px;
  letter-spacing: -1px;
}
.welcome .welcome-main .wave:hover :last-child {
  animation: water 4s ease-in-out infinite;
  color: #03a9f4;
  transition: opacity 2s ease-in-out;
  opacity: 1;
}
.welcome .welcome-main .wave :first-child {
  position: absolute;
  right: 0px;
}
.welcome .welcome-main .wave :last-child {
  opacity: 0;
}
.welcome .welcome-main p {
  text-align: start;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  letter-spacing: -0.2px;
  margin-top: 5px;
}
.welcome .welcome-main button {
  width: 138px;
  height: 38px;
  background-color: #3AB6B2;
  border: 1px solid white;
  outline: 3px solid #3AB6B2;
  margin-top: 43px;
  color: white;
  font-size: 13px;
  font-weight: 700;
}

@media only screen and (max-width:1024px) {
  .welcome {
    width: 100%;
    padding-top: 158px;
    padding-bottom: 188px;
  }
  .welcome .left, .welcome .right {
    display: none;
  }
  .welcome .welcome-main {
    transform: translateX(0px);
    margin: auto;
  }
  .welcome .welcome-main h1:first-of-type {
    font-size: 59px;
  }
  .welcome .welcome-main p {
    text-align: center;
    font-size: 19px;
    margin-top: 2px;
  }
  .welcome .welcome-main button {
    margin-top: 39.5px;
    transform: translateX(-3.5px);
  }
}
@media only screen and (max-width:767px) {
  .welcome {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 60px;
  }
  .welcome .welcome-main {
    transform: translateX(0px);
    margin: auto;
  }
  .welcome .welcome-main h1:first-of-type {
    font-size: 25px;
  }
  .welcome .welcome-main .wave h1 {
    font-size: 30px;
  }
  .welcome .welcome-main p {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum";
    text-align: center;
    font-size: 9px;
    max-width: 272px;
    margin: auto;
    margin-top: 0px;
    letter-spacing: -0.1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  .welcome .welcome-main button {
    font-size: 7px;
    margin-top: 18px;
    transform: translateX(-3.5px);
    width: 59px;
    height: 15px;
    outline: 2px solid #3ab6b2;
  }
}
#about {
  padding-top: 114px;
  padding-bottom: 140px;
}
#about .about-header {
  max-width: 1180px;
  margin: auto;
}
#about .about-header h2 {
  text-align: center;
  color: #323232;
}
#about .about-header h2 span {
  color: #3AB6B2;
}
#about .about-header .whole-icon {
  padding-top: 9px;
  text-align: center;
}
#about .about-header .whole-icon .joxi {
  height: 1.1px;
  width: 37px;
  background-color: #D3D3D3;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}
#about .about-header .whole-icon img {
  vertical-align: middle;
  margin: 0px 4px;
}
#about .about-main {
  max-width: 1180px;
  margin: auto;
  margin-top: 91px;
  display: flex;
  justify-content: space-between;
}
#about .about-main .image-mac {
  margin-left: 3px;
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
}
#about .about-main .image-mac iframe {
  position: absolute;
  width: 470px;
  top: 20px;
  left: 20px;
  height: 265px;
}
#about .about-main .about-content {
  width: 576px;
}
#about .about-main .about-content h2 {
  letter-spacing: -0.58px;
}
#about .about-main .about-content > p {
  margin-top: 23px;
  line-height: 1.95;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
}
#about .about-main .about-content .content-wrap {
  display: flex;
  justify-content: space-between;
}
#about .about-main .about-content .content-wrap:first-of-type {
  margin-top: 47px;
}
#about .about-main .about-content .content-wrap:last-of-type {
  margin-top: 53px;
}
#about .about-main .about-content .content-wrap .content-box {
  display: flex;
  justify-content: space-between;
  width: 46.5%;
}
#about .about-main .about-content .content-wrap .content-box .wre {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #3B3B3B;
  margin-left: 2px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .about-main .about-content .content-wrap .content-box div {
  width: 66%;
}
#about .about-main .about-content .content-wrap .content-box div h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.3px;
  margin-bottom: 10px;
}
#about .about-main .about-content .content-wrap .content-box div p {
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  line-height: 1.65;
}
#about .small-about {
  display: none;
}

@media only screen and (max-width:1024px) {
  #about {
    padding-top: 71px;
    padding-bottom: 76px;
  }
  #about .about-header h2 {
    font-size: 28.88px;
  }
  #about .about-main {
    background-color: #000000;
    background-image: url(../images/about/bayern.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    margin-top: 57px;
    height: 420px;
    width: 93.5%;
  }
  #about .about-main .image-mac {
    display: none;
  }
  #about .about-main .image-mac img {
    display: none;
  }
  #about .about-main .about-content {
    display: none;
  }
  #about .small-about {
    display: block;
    width: 93.5%;
    margin: auto;
    margin-top: 28px;
  }
  #about .small-about h2 {
    font-size: 25px;
    letter-spacing: -0.5px;
    word-spacing: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
  }
  #about .small-about p:last-of-type {
    display: none;
  }
  #about .small-about > p {
    margin-top: 20px;
    margin-bottom: 35px;
  }
  #about .small-about p {
    line-height: 1.8;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    color: #525252;
  }
  #about .small-about .check-text {
    display: flex;
    align-items: flex-start;
    max-width: 560px;
    margin-bottom: 20px;
  }
  #about .small-about .check-text img {
    flex-shrink: 0;
    margin-top: 4px;
    margin-right: 15px;
  }
  #about .small-about .check-text p {
    width: 530px;
  }
  #about .small-about .submit {
    margin-top: 21px;
    width: 139px;
    font-size: 13px;
  }
}
@media only screen and (max-width:767px) {
  #about {
    padding-top: 35px;
    padding-bottom: 43px;
  }
  #about .about-header h2 {
    font-size: 27px;
  }
  #about .about-header .whole-icon {
    padding-top: 7px;
  }
  #about .about-header .whole-icon .joxi {
    width: 33px;
  }
  #about .about-header .whole-icon img {
    width: 14px;
  }
  #about .about-main {
    background-color: #000000;
    margin-top: 36px;
    height: 207px;
    width: 87.5%;
  }
  #about .small-about {
    width: 87.5%;
    margin-top: 17px;
  }
  #about .small-about h2 {
    font-size: 16px;
    padding-bottom: 10px;
  }
  #about .small-about p:first-of-type {
    display: none;
  }
  #about .small-about p:last-of-type {
    display: block;
  }
  #about .small-about > p {
    margin-top: 11px;
  }
  #about .small-about .check-text {
    margin-bottom: 18px;
    width: 100%;
  }
  #about .small-about .check-text p {
    width: 99.5%;
  }
  #about .small-about .submit {
    margin-top: 24px;
    width: 139px;
    font-size: 13px;
    margin-left: -2px;
  }
}
.contacts-form input {
  border: 1px solid #D4D4D4;
  height: 46px;
}
.contacts-form input::placeholder {
  color: #7C7C7C;
  padding-left: 10px;
  font-size: 14px;
  font-family: Raleway, sans-serif;
}
.contacts-form textarea {
  border: 1px solid #D4D4D4;
  padding-left: 10px;
  padding-top: 16px;
  font-size: 14px;
  font-family: Raleway, sans-serif;
}

#contacts {
  padding-top: 90px;
  padding-bottom: 122px;
}
#contacts .contacts-header h2 {
  text-align: center;
}
#contacts .contacts-header .whole-icon .joxi {
  margin-top: -1.5px;
}
#contacts .contacts-info {
  max-width: 844px;
  margin: auto;
  margin-top: 89px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transform: translateX(-7px);
}
#contacts .contacts-info .info-box {
  text-align: center;
  width: 229px;
}
#contacts .contacts-info .info-box:nth-last-of-type(2) {
  transform: translateX(5px);
}
#contacts .contacts-info .info-box:nth-last-of-type(2) img {
  margin-bottom: 22px;
  transform: translateX(2px);
}
#contacts .contacts-info .info-box img {
  margin-bottom: 15px;
}
#contacts .contacts-info .info-box h3 {
  font-size: 15px;
  font-weight: 400;
  word-spacing: 0.4px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  transform: translateX(2px);
}
#contacts .contacts-form {
  display: flex;
  flex-direction: column;
  max-width: 945px;
  margin: auto;
  margin-top: 80px;
}
#contacts .contacts-form .name-email {
  display: flex;
  justify-content: space-between;
}
#contacts .contacts-form .name-email #name {
  width: 464px;
}
#contacts .contacts-form .name-email #email {
  width: 464px;
}
#contacts .contacts-form #subject {
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
}
#contacts .contacts-form #subject-area {
  width: 100%;
  height: 171px;
  resize: none;
}

@media only screen and (max-width:1024px) {
  #contacts {
    padding-top: 78px;
    padding-bottom: 82px;
  }
  #contacts .contacts-header h2 {
    font-size: 29px;
  }
  #contacts .contacts-info {
    margin-top: 56px;
    max-width: 780px;
  }
  #contacts .contacts-info .info-box {
    width: 200px;
  }
  #contacts .contacts-form {
    max-width: 719px;
    margin-top: 45px;
  }
  #contacts .contacts-form .name-email #name {
    width: 49%;
  }
  #contacts .contacts-form .name-email #email {
    width: 49.2%;
  }
}
@media only screen and (max-width:767px) {
  #contacts {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  #contacts .contacts-header h2 {
    font-size: 27px;
  }
  #contacts .contacts-header .whole-icon img {
    width: 14px;
  }
  #contacts .contacts-info {
    margin-top: 42px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #contacts .contacts-info .info-box {
    width: 90%;
    transform: translateX(7px);
    margin-bottom: 35px;
  }
  #contacts .contacts-info .info-box:nth-of-type(3), #contacts .contacts-info .info-box:nth-of-type(2) {
    transform: translateX(8px);
  }
  #contacts .contacts-info .info-box h3 {
    transform: translateX(0px);
  }
  #contacts .contacts-form {
    max-width: 87.5%;
    margin-top: 2px;
  }
  #contacts .contacts-form .name-email {
    flex-direction: column;
  }
  #contacts .contacts-form .name-email #name {
    width: 100%;
    margin-bottom: 10px;
  }
  #contacts .contacts-form .name-email #email {
    width: 100%;
  }
  #contacts .contacts-form #subject {
    margin-top: 10px;
    margin-bottom: 9px;
  }
  #contacts .contacts-form #subject-area {
    height: 141px;
  }
  #contacts .contacts-form .submit {
    margin-top: 13px;
  }
}
#portfolio {
  padding-top: 108px;
}
#portfolio .portfolio-header {
  padding-bottom: 85px;
}
#portfolio .portfolio-header h2 {
  text-align: center;
}
#portfolio .portfolio-header .whole-icon {
  padding-top: 5px;
}
#portfolio .porfolio-main {
  max-width: 100%;
  height: 765px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 7px;
}
#portfolio .porfolio-main .portfolio-box:nth-of-type(1) {
  background-image: url("../images/portfolio/neuer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: span 2;
}
#portfolio .porfolio-main .portfolio-box:nth-of-type(2) {
  background-image: url("../images/portfolio/coman.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio .porfolio-main .portfolio-box:nth-of-type(3) {
  background-image: url("../images/portfolio/lewandowski.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: span 2;
}
#portfolio .porfolio-main .portfolio-box:nth-of-type(4) {
  background-image: url("../images/portfolio/alaba.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio .porfolio-main .portfolio-box:nth-of-type(5) {
  background-image: url("../images/portfolio/hans.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: span 2;
}
#portfolio .porfolio-main .portfolio-box:nth-of-type(6) {
  background-image: url("../images/portfolio/gnabry.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio .porfolio-main .portfolio-box:nth-of-type(7) {
  background-image: url("../images/portfolio/muller.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio .porfolio-main .portfolio-box {
  background-color: #000000;
  position: relative;
}
#portfolio .porfolio-main .portfolio-box:hover {
  background-color: #292929;
}
#portfolio .porfolio-main .portfolio-box:hover .box-lower, #portfolio .porfolio-main .portfolio-box:hover .box-upper {
  opacity: 1;
}
#portfolio .porfolio-main .portfolio-box .box-upper {
  margin-top: 160px;
  display: flex;
  opacity: 0;
  justify-content: center;
  margin-right: 4px;
  transition: opacity 1.5s;
}
#portfolio .porfolio-main .portfolio-box .box-upper .wre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: transparent;
  border: 2px solid #3AB6B2;
  border-radius: 50%;
}
#portfolio .porfolio-main .portfolio-box .box-upper .wre:first-of-type {
  transform: translateX(-11px);
}
#portfolio .porfolio-main .portfolio-box .box-upper .wre:hover {
  background-color: #3AB6B2;
  transition: background 0.2s ease-in-out;
}
#portfolio .porfolio-main .portfolio-box .box-lower {
  background-color: #000000;
  position: absolute;
  opacity: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  transition: opacity 1s;
}
#portfolio .porfolio-main .portfolio-box .box-lower h5 {
  font-size: 16.98px;
  font-weight: 600;
  margin-bottom: 8px;
  color: white;
}
#portfolio .porfolio-main .portfolio-box .box-lower p {
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 17.6px;
  color: #3AB6B2;
}

@media only screen and (max-width:1024px) {
  #portfolio {
    padding-top: 70px;
  }
  #portfolio .portfolio-header {
    padding-bottom: 58px;
  }
  #portfolio .portfolio-header h2 {
    font-style: 28.99px;
    font-weight: 600;
    letter-spacing: -1.3px;
  }
  #portfolio .porfolio-main {
    margin: auto;
    max-width: 93.5%;
    height: 480px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
  #portfolio .porfolio-main .portfolio-box:nth-of-type(7) {
    display: none;
  }
  #portfolio .porfolio-main .portfolio-box:nth-of-type(1), #portfolio .porfolio-main .portfolio-box:nth-of-type(3), #portfolio .porfolio-main .portfolio-box:nth-of-type(5) {
    grid-column: span 1;
  }
  #portfolio .porfolio-main .portfolio-box .box-upper {
    margin-top: 80px;
    transform: translateX(4px);
  }
  #portfolio .porfolio-main .portfolio-box .box-upper .wre {
    width: 37px;
    height: 37px;
  }
  #portfolio .porfolio-main .portfolio-box .box-lower h5 {
    font-size: 12px;
  }
  #portfolio .porfolio-main .portfolio-box .box-lower p {
    font-size: 10px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width:767px) {
  #portfolio {
    padding-top: 37px;
  }
  #portfolio .portfolio-header {
    padding-bottom: 37px;
  }
  #portfolio .portfolio-header h2 {
    font-size: 27px;
    letter-spacing: 0px;
  }
  #portfolio .porfolio-main {
    margin: auto;
    max-width: 88%;
    height: 674px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 7px;
  }
  #portfolio .porfolio-main .portfolio-box:nth-of-type(7), #portfolio .porfolio-main .portfolio-box:nth-of-type(6), #portfolio .porfolio-main .portfolio-box:nth-of-type(5) {
    display: none;
  }
  #portfolio .porfolio-main .portfolio-box:nth-of-type(1), #portfolio .porfolio-main .portfolio-box:nth-of-type(3), #portfolio .porfolio-main .portfolio-box:nth-of-type(5) {
    grid-column: span 1;
  }
  #portfolio .porfolio-main .portfolio-box .box-upper {
    margin-top: 40px;
  }
}
#services {
  background-color: #000000;
  color: white;
  padding-top: 140px;
  padding-bottom: 150px;
}
#services .services-header h2 {
  text-align: center;
}
#services .services-header .whole-icon {
  padding-top: 3px;
}
#services .services-header .whole-icon .joxi {
  margin-top: 2px;
}
#services .services-main {
  display: flex;
  justify-content: space-between;
  max-width: 1175px;
  margin: auto;
  margin-top: 135px;
}
#services .services-main .services-box {
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#services .services-main .services-box .hexa-green {
  display: none;
  width: 141px;
}
#services .services-main .services-box .hexa-white {
  width: 138px;
}
#services .services-main .services-box:hover .hexa-white {
  display: none;
}
#services .services-main .services-box:hover .hexa-green {
  display: block;
}
#services .services-main .services-box .hexa {
  position: relative;
  width: fit-content;
}
#services .services-main .services-box .hexa .shida {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%);
}
#services .services-main .services-box h3 {
  font-size: 20px;
  color: #3AB6B2;
  margin-top: 30px;
  letter-spacing: 0.3px;
}
#services .services-main .services-box p {
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.25px;
  margin-top: 14px;
}

@media only screen and (max-width:1024px) {
  #services {
    padding-top: 72px;
    padding-bottom: 73px;
  }
  #services .services-header h2 {
    font-size: 28.99px;
  }
  #services .services-header .whole-icon {
    padding-top: 9px;
  }
  #services .services-main {
    margin-top: 53px;
    flex-direction: column;
    align-items: center;
  }
  #services .services-main .services-box {
    margin-bottom: 63px;
  }
  #services .services-main .services-box:nth-of-type(2) {
    margin-bottom: 68px;
  }
  #services .services-main .services-box:nth-of-type(3) {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width:767px) {
  #services {
    padding-top: 38px;
    padding-bottom: 40px;
  }
  #services .services-header h2 {
    font-size: 27px;
    letter-spacing: -0.25px;
  }
  #services .services-header .whole-icon {
    padding-top: 6px;
  }
  #services .services-main {
    margin-top: 46px;
  }
  #services .services-main .services-box {
    margin-bottom: 38px;
  }
  #services .services-main .services-box:nth-of-type(2) {
    margin-bottom: 38px;
  }
  #services .services-main .services-box:nth-of-type(3) {
    margin-bottom: 0px;
  }
  #services .services-main .services-box .hexa-green {
    width: 133px;
  }
  #services .services-main .services-box .hexa-white {
    width: 130px;
  }
  #services .services-main .services-box h3 {
    font-size: 18.96px;
    letter-spacing: 0.2px;
  }
  #services .services-main .services-box p {
    font-size: 12.98px;
    width: 96%;
    line-height: 1.65;
  }
}
footer {
  background-color: #111111;
  padding-top: 47px;
  padding-bottom: 60px;
}
footer .footer-main {
  max-width: 1180px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer-main .header-logo {
  transform: translateX(1px);
  display: flex;
  align-items: flex-end;
  height: 48px;
}
footer .footer-main .header-logo .letter-p {
  position: relative;
  height: 95%;
  width: 24px;
}
footer .footer-main .header-logo .letter-p :nth-child(1) {
  position: absolute;
  top: 5px;
  width: 7.71px;
}
footer .footer-main .header-logo .letter-p :nth-child(2) {
  position: absolute;
}
footer .footer-main .header-logo .letter-p :nth-child(3) {
  position: absolute;
  top: 15px;
  left: 10px;
}
footer .footer-main .header-logo h3 {
  font-size: 36px;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  color: white;
}
footer .footer-main .footer-buttons {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  justify-content: space-between;
  width: 283px;
  margin-top: 45px;
}
footer .footer-main .footer-buttons div {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  transition: background 0.5s ease-in-out;
}
footer .footer-main .footer-buttons div:hover {
  background-color: #46629E;
}
footer .footer-main p {
  margin-top: 48px;
  font-size: 11px;
  color: white;
  letter-spacing: 0.2px;
}

@media only screen and (max-width:1024px) {
  footer .footer-main .footer-buttons {
    transform: translateX(-2.5px);
  }
}
@media only screen and (max-width:767px) {
  footer {
    padding-top: 40px;
  }
  footer .footer-main .header-logo {
    transform: translateX(-1px);
  }
  footer .footer-main .header-logo .letter-p :nth-child(1) {
    width: 7.13px;
  }
  footer .footer-main .header-logo h3 {
    font-size: 32.49px;
  }
  footer .footer-main .footer-buttons {
    width: 186px;
    height: 89px;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(2, 40px);
    align-content: space-between;
    margin-top: 42px;
  }
  footer .footer-main .footer-buttons div:nth-of-type(5) {
    grid-column: 2;
  }
  footer .footer-main p {
    margin-top: 40px;
    transform: translateX(-2.5px);
  }
}

/*# sourceMappingURL=index.css.map */
