html,
body {
  width: 100%;
}

header {
  background-color: #000000;
  padding-top: 26px;
  padding-bottom: 25.7px;
  padding-left: 25px;
  padding-right: 25px;
}
header .header-main {
  margin: auto;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-main .header-logo {
  display: flex;
  align-items: flex-end;
  height: 48px;
}
header .header-main .header-logo .letter-p {
  position: relative;
  height: 95%;
  width: 27px;
}
header .header-main .header-logo .letter-p :nth-child(1) {
  position: absolute;
  top: 5px;
}
header .header-main .header-logo .letter-p :nth-child(2) {
  position: absolute;
}
header .header-main .header-logo .letter-p :nth-child(3) {
  position: absolute;
  top: 15px;
  left: 10px;
}
header .header-main .header-logo h3 {
  font-size: 36px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  color: white;
}
header .header-main .header-nav {
  display: flex;
  justify-content: space-between;
  display: flex;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin-right: 2px;
  width: 737px;
  min-width: 50%;
  font-size: 14px;
}
header .header-main .header-table-nav {
  display: none;
  background-color: #3AB6B2;
  width: 54px;
  height: 35px;
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    padding-bottom: 33px;
  }
  header .header-main .header-nav {
    display: none;
  }
  header .header-main .header-table-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    outline: #3AB6B2 solid 2px;
    align-self: flex-end;
  }
  header .header-main .header-table-nav .joxi {
    width: 30px;
    height: 2px;
    background-color: white;
    margin-bottom: 3px;
  }
}
@media only screen and (max-width: 320px) {
  header {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  header .header-main .header-logo {
    display: flex;
    height: 37.49px;
  }
  header .header-main .header-logo .letter-p {
    height: 95%;
    width: 20.5px;
  }
  header .header-main .header-logo .letter-p :nth-child(1) {
    height: 28px;
  }
  header .header-main .header-logo .letter-p :nth-child(2) {
    width: 21px;
    top: 2px;
  }
  header .header-main .header-logo .letter-p :nth-child(3) {
    width: 14px;
    top: 12px;
    left: 8px;
  }
  header .header-main .header-logo h3 {
    font-size: 27.22px;
    line-height: 1;
    align-self: flex-end;
  }
  header .header-main .header-table-nav {
    width: 44px;
    height: 27px;
  }
  header .header-main .header-table-nav .joxi {
    width: 22px;
  }
}
.welcome {
  height: 760px;
  padding-top: 242px;
}
.welcome .welcome-main {
  max-width: 739px;
  min-height: 173px;
  margin: auto;
  text-align: center;
  transform: translateX(12px);
}
.welcome .welcome-main h1:first-of-type {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 62px;
  color: white;
  line-height: 1;
}
.welcome .welcome-main h1:nth-of-type(2) {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 71px;
  letter-spacing: -1px;
}
.welcome .welcome-main p {
  text-align: start;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -0.2px;
  margin-top: 5px;
}
.welcome .welcome-main button {
  width: 138px;
  height: 38px;
  background-color: #3AB6B2;
  border: 1px solid white;
  outline: 3px solid #3AB6B2;
  margin-top: 43px;
  color: white;
  font-size: 13px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .welcome {
    width: 100%;
    padding-top: 158px;
    background-color: red;
  }
  .welcome .welcome-main {
    transform: translateX(0px);
    margin: auto;
  }
  .welcome .welcome-main h1:first-of-type {
    font-size: 59px;
  }
  .welcome .welcome-main p {
    text-align: center;
    font-size: 19px;
    background-color: rosybrown;
    margin-top: 2px;
  }
  .welcome .welcome-main button {
    margin-top: 39.5px;
    transform: translateX(-3.5px);
  }
}
@media only screen and (max-width: 320px) {
  .welcome {
    width: 100%;
    padding-top: 48px;
  }
  .welcome .welcome-main {
    transform: translateX(0px);
    margin: auto;
  }
  .welcome .welcome-main h1:first-of-type {
    font-size: 25px;
  }
  .welcome .welcome-main h1:nth-of-type(2) {
    font-size: 30px;
  }
  .welcome .welcome-main p {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum";
    text-align: center;
    font-size: 9px;
    background-color: rosybrown;
    max-width: 272px;
    margin: auto;
    margin-top: 0px;
    letter-spacing: -0.1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  .welcome .welcome-main button {
    font-size: 7px;
    margin-top: 39.5px;
    transform: translateX(-3.5px);
    width: 59px;
    height: 15px;
    outline: 2px solid #3AB6B2;
  }
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 31px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=index.css.map */
