$bayern: (1:'../images/portfolio/neuer.jpg',
          2:'../images/portfolio/coman.jpg',
          3:'../images/portfolio/lewandowski.jpg',
          4:'../images/portfolio/alaba.jpg',
          5:'../images/portfolio/hans.jpg',
          6:'../images/portfolio/gnabry.jpg',
          7:'../images/portfolio/muller.jpg',
          );
#portfolio {
    padding-top: 108px;
    .portfolio-header {
      padding-bottom: 85px;
      h2 {
        text-align: center;
      }
      .whole-icon {
        padding-top: 5px;
      }
    }
    .porfolio-main {
      max-width: 100%;
      height: 765px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 7px;


      @each $index,$player in $bayern {
        .portfolio-box:nth-of-type(#{$index}){
          background-image: url($player);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          @if $index==1 or $index==3 or $index==5 {
            grid-column: span 2;
          }

        }
      }
      

      .portfolio-box {
        background-color: #000000;
        position: relative;
        &:hover {
          background-color: #292929;
          .box-lower {
            display: block;
          }
          .box-upper {
            display: flex;
          }
        }
  
        .box-upper {
          margin-top: 160px;
          display: none;
          justify-content: center;
          margin-right: 4px;
          .wre {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 46px;
            height: 46px;
            background-color: transparent;
            border: 2px solid $green;
            border-radius: 50%;
            &:first-of-type {
              transform: translateX(-11px);
            }
            &:hover {
              background-color: $green;
            }
          }
        }
        .box-lower {
          background-color: #000000;
          position: absolute;
          display: none;
          bottom: 0;
          width: 100%;
          text-align: center;
          padding-top: 15px;
          h5 {
            font-size: 16.98px;
            font-weight: 600;
            margin-bottom: 8px;
            color: $white;
          }
          p {
            font-size: 13px;
            font-weight: 600;
            font-style: italic;
            margin-bottom: 17.6px;
            color: $green;
          }
        }
      }
    }
  }
  
  