h2{
    font-family: 'Raleway', sans-serif;
    font-size: 31px;
    font-weight: 600;
}
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}