h2{
    font-family: 'Raleway', sans-serif;
    font-size: 31px;
    font-weight: 600;
}
*{
    box-sizing: border-box;
    font-family: #{$rel}
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
p::selection{
    background-color: rgb(25, 136, 112);
}
html,
body {
  width: 100%;
}
.whole-icon{
    padding-top: 9px;
    text-align: center;
    .joxi{
        height: 1.1px;
        width: 37px;
        background-color: #D3D3D3;
        display: inline-block;
        vertical-align: middle;
        margin-top: 4px;
        
    }
    img{
        vertical-align: middle;         
        margin: 0px 4px;   
    }
}
.submit{
    border: none;
    background-color: $green;
    color: $white;
    width: 160px;
    height: 42px;
    font-family: #{$rel};
    font-size: 13px;
    font-weight: 700;
    margin-top: 16px;
}
$bayern: (1:'../images/portfolio/neuer.jpg',
          2:'../images/portfolio/coman.jpg',
          3:'../images/portfolio/lewandowski.jpg',
          4:'../images/portfolio/alaba.jpg',
          5:'../images/portfolio/hans.jpg',
          6:'../images/portfolio/gnabry.jpg',
          7:'../images/portfolio/muller.jpg',
          );