$desktop-x-large:'only screen and (min-width:1601px)';
$desktop-large:'only screen and (max-width:1600px)';
$desktop:'only screen and (max-width:1200px)';
$tablet:'only screen and (max-width:1024px)';
$mobile:'only screen and (max-width:767px)';


