.contacts-form{
    input{
        border: 1px solid #D4D4D4;
        height: 46px;
        &::placeholder{
            color: #7C7C7C ;
            padding-left: 10px;
            font-size: 14px;
            font-family: #{$rel};;

        }
    }
    textarea{
        border: 1px solid #D4D4D4;
        padding-left: 10px;
        padding-top: 16px;
        font-size: 14px;
        font-family: #{$rel};;
    }
}

#contacts {
    padding-top: 90px;
    padding-bottom: 122px;
    .contacts-header {
      h2 {
        text-align: center;
      }
      .whole-icon {
        .joxi {
          margin-top: -1.5px;
        }
      }
    }
    .contacts-info {
      max-width: 844px;
      margin: auto;
      margin-top: 89px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      transform: translateX(-8px);
      .info-box {
        text-align: center;
        width: 229px;
        &:nth-last-of-type(2) {
          transform: translateX(5px);
          img {
            margin-bottom: 22px;
            transform: translateX(2px);
          }
        }
        img {
          margin-bottom: 15px;
        }
        h3 {
          font-size: 15px;
          font-weight: 400;
          word-spacing: 0.4px;
          letter-spacing: 0.6px;
          line-height: 1.6;
          transform: translateX(2px);
          span {
          }
        }
      }
    }
    .contacts-form {
      display: flex;
      flex-direction: column;
      max-width: 945px;
      margin: auto;
      margin-top: 80px;
  
      .name-email {
        display: flex;
        justify-content: space-between;
        #name {
          width: 464px;
        }
        #email {
          width: 464px;
        }
      }
      #subject {
        width: 100%;
        margin-top: 14px;
        margin-bottom: 14px;
      }
      #subject-area {
        width: 100%;
        height: 171px;
        resize: none;
      }
    }
  }
  