#contacts {
  padding-top: 78px;
  padding-bottom: 82px;
  .contacts-header {
    h2 {
      font-size: 29px;
    }

  }
  .contacts-info {
    margin-top: 56px;
    max-width: 780px;

    .info-box {
      width: 200px;
    }
  }
  .contacts-form {
    max-width: 719px;
    margin-top: 45px;
    .name-email {
      #name {
        width: 49%;
      }
      #email {
        width: 49.2%;
      }
    }
  }
}
