#services{
    background-color: #000000;
    color: $white;
    padding-top: 140px;
    padding-bottom: 150px;
    .services-header{
        h2{
            text-align: center;
        }
        .whole-icon{
            padding-top: 3px;
            
            .joxi{
                margin-top: 2px;
                
            }
        }
    }
.services-main{
    display: flex;
    justify-content: space-between;
    max-width: 1175px;
    margin: auto;
    margin-top: 135px;
    .services-box{
        width: 295px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .hexa-green{
            display: none;
            width: 141px;
        }
        .hexa-white{
            width: 138px;
        }
        &:hover{
            .hexa-white{
                display: none;
            }
            .hexa-green{
                display: block;
            }
        }

        .hexa{
            position: relative;
            width: fit-content;
            
            .shida{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-63%);
            }
        }
        h3{
            font-size: 20px;
            color: $green;
            margin-top: 30px;
            letter-spacing: 0.3px;
        }
        p{
            font-size: 14px;
            font-family: #{$sans};
            line-height: 1.6;
            letter-spacing: 0.25px;
            margin-top: 14px;
        }
    }
}

}
